<body>
    <h1>Jobs for You </h1>
    <div class="job-list">
        <div class="job-item">
            <img src="../../../assets/TCS_NewLogo_Final_RGB.png" alt="Company 1 Logo">
            <div class="job-details">
                <h2>Tata Consultancy Services Limited(TCS)</h2>
                <p><strong>Job Role:</strong> Frontend Developer</p>
                <p><strong>Skills:</strong> HTML, CSS, JavaScript</p>
                <p><strong>Job Type:</strong> Full-time</p>
            </div>
            <button class="apply-btn">Apply</button>
        </div>
        
        <div class="job-item">
            <img src="../../../assets/infosys.jpg" alt="Company 2 Logo">
            <div class="job-details">
                <h2>Infosys Company</h2>
                <p><strong>Job Role:</strong> Backend Developer</p>
                <p><strong>Skills:</strong> Python, Django, SQL</p>
                <p><strong>Job Type:</strong> Part-time</p>
            </div>
            <button class="apply-btn">Apply</button>
        </div>
        <div class="job-item">
            <img src="../../../assets/Accenture-1.png" alt="Company 2 Logo">
            <div class="job-details">
                <h2>Accenture</h2>
                <p><strong>Job Role:</strong> Full Stack Developer</p>
                <p><strong>Skills:</strong> Python, Django, SQL</p>
                <p><strong>Job Type:</strong> Intership </p>
            </div>
            <button class="apply-btn">Apply</button>
        </div>
        <div class="job-item">
            <img src="../../../assets/google.jpg" alt="Company 2 Logo">
            <div class="job-details">
                <h2>Google</h2>
                <p><strong>Job Role:</strong> Backend Developer</p>
                <p><strong>Skills:</strong> Python, Django, SQL</p>
                <p><strong>Job Type:</strong> Part-time</p>
            </div>
            <button class="apply-btn">Apply</button>
        </div>
        <div class="job-item">
            <img src="../../../assets/micro.jpg" alt="Company 2 Logo">
            <div class="job-details">
                <h2>Microsoft</h2>
                <p><strong>Job Role:</strong> Backend Developer</p>
                <p><strong>Skills:</strong> Python, Django, SQL</p>
                <p><strong>Job Type:</strong> Full-time</p>
            </div>
            <button class="apply-btn">Apply</button>
        </div>
        <div class="job-item">
            <img src="../../../assets/R.jpg" alt="Company 2 Logo">
            <div class="job-details">
                <h2>Google</h2>
                <p><strong>Job Role:</strong> Backend Developer</p>
                <p><strong>Skills:</strong> Python, Django, SQL</p>
                <p><strong>Job Type:</strong> Part-time</p>
            </div>
            <button class="apply-btn">Apply</button>
        </div>
        <div class="job-item">
            <img src="../../../assets/capgemini.jpg" alt="Company 2 Logo">
            <div class="job-details">
                <h2>Capgemini</h2>
                <p><strong>Job Role:</strong> Web Developer</p>
                <p><strong>Skills:</strong> Python, Django, SQL</p>
                <p><strong>Job Type:</strong> Part-time</p>
            </div>
            <button class="apply-btn">Apply</button>
        </div>
        <div class="job-item">
            <img src="../../../assets/Cognizant-Logo.jpg" alt="Company 2 Logo">
            <div class="job-details">
                <h2>Cognizant</h2>
                <p><strong>Job Role:</strong> Backend Developer</p>
                <p><strong>Skills:</strong> Python, Django, SQL</p>
                <p><strong>Job Type:</strong> Part-time</p>
            </div>
            <button class="apply-btn">Apply</button>
        </div>
    </div>
    <div class="see-more-container">
        <button id="seeMoreBtn" class="see-more-btn">See More Jobs</button>
    </div>
    
    </body>
