*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../../../assets/bg6.jpg);
    background-size: cover;
    background-position:center;
    display: flex;
   
       
       width: 100vw;
    height: 100vh;
        background-attachment: fixed; 
        align-items: center;
        
}

.container {
    width: 500px;
    position:absolute;
    left:450px;
    height: fit-content;
    margin: 50px auto; 
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    background-color: rgb(208, 131, 93);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(243, 241, 241, 0.1);
} 

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #f5dada;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: rgb(241, 76, 47);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: rgb(208, 131, 93);
}
.required::after {
    content: "*";
    color: red;
}
.text-danger{
    color: red;
}