.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px 10px;
}
.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.login-link,
.signup-link {
  text-decoration: none;
  color: #333;
  margin-left: 10px;
}