<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>
<body>
  <div class="container-fluid px-0" id="bg-div">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-12">
        <div class="card card0">
          <div class="d-flex" id="wrapper">
            <!-- Sidebar -->
            <div class="bg-light border-right" id="sidebar-wrapper">
              <div class="sidebar-heading pt-5 pb-4"><strong>HOME</strong></div>
              <div class="list-group list-group-flush"> <a data-toggle="tab" routerLink="/inbox" id="tab1"
                  class="tabs list-group-item bg-light">
                  <div class="list-div my-2">
                    <div class="fa fa-home"></div> &nbsp;&nbsp; Inbox
                  </div>
                </a> <a data-toggle="tab" routerLink="/outbox" id="tab2" class="tabs list-group-item active1">
                  <div class="list-div my-2">
                    <div class="fa fa-credit-card"></div> &nbsp;&nbsp; sent
                  </div>
                </a> </div>
            </div> <!-- Page Content -->
            <div id="page-content-wrapper">
              <div class="row pt-3" id="border-btm">
                <div class="col-4"> <button class="btn btn-success mt-4 ml-3 mb-3" id="menu-toggle">
                    <div class="bar4"></div>
                    <div class="bar4"></div>
                  </button> </div>
                <div class="col-8">
                  <div class="row justify-content-right">
                    <div class="col-12">
                      <p class="mb-0 mr-4 mt-4 text-right">{{loggedUser?.email}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="menu2" class="tab-pane in active">
                <div class="row justify-content-center">
                  <div class="col-11">
                    <div class="form-card">
                      <h3 class="mt-0 mb-4 text-center">Contact Us</h3>
                      <form onsubmit="event.preventDefault()">
                        <div class="row">
                          <div class="col-12">
                            <div class="input-group"> <input type="email" id="cr_no" placeholder="Enter emailId..."
                                minlength="19" maxlength="19"> <label>To: </label> </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="input-group"> <input type="text" id="exp" placeholder="Enter Your messages "
                                minlength="200" maxlength="200"><label >Message</label></div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12"> <input type="submit" value="Send"
                              class="btn btn-success placeicon"> </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>