
.subcontainer{
    margin: auto;
    float: right;
    width: 1000px;
    
}
.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 5px;
    flex: 1;
  }
  
  .search-bar button {
    padding: 5px 10px;
    background-color: #004080;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #004080;
    color: white;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .b1 {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #004080;
    color: white;
    border: none;
    cursor: pointer;
  }
  .search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 5px;
    flex: 1;
  }
  
  .search-bar button {
    padding: 5px 10px;
    background-color: #004080;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #004080;
    color: white;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  

  .btn-green {
  background-color: green !important;
  color: white !important;
}

.btn-red {
  background-color: red !important;
  color: white !important;
}

.btn-white {
  background-color: white !important;
  color: black !important;
}